server:
  port: 8081

spring:

  data:
    web:
      pageable:
        default-page-size: 10

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/accounts_database?createDatabaseIfNotExist=true&serverTimezone=UTC
    username: root
    password: root

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    show-sql: true
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  jackson:
    serialization:
      FAIL_ON_EMPTY_BEANS: false

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

iamService:
  baseUrl: http://localhost:8080
