spring:

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/digital_money_house?createDatabaseIfNotExist=true&serverTimezone=UTC
    username: root
    password: root

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    show-sql: true
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  jackson:
    serialization:
      FAIL_ON_EMPTY_BEANS: false

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

email-service:
  host:
  port:
  ssl:
  tls:
  user:
  password:

api:
  baseUrl: http://localhost:8080

accountService:
  baseUrl: http://localhost:8081
